.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem 2rem;
  background-color: #fff;
  border: 1px #eee solid;
  border-radius: 10px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
              0 10px 10px -5px rgba(0, 0, 0, 0.04);
  p, li {
    line-height: 2rem;
  }
}

.newsletterForm {
  font-size: 1rem;
  .label {

  }
  .input {

  }
  .phoneEmailToggleWrapper {
    display: inline-flex;
    border: 1px #ccc solid;
    border-radius: 10px;
    overflow: hidden;
    justify-content: flex-start;
    .phoneEmailToggle {
      padding: 0.5rem 1.5rem;
      background: #eee;
      border: 0;
      cursor: pointer;
    }
    .phoneEmailToggle:first-of-type {
      border-right: 1px #ccc solid;
    }
    .phoneEmailToggleActive {
      background: #dddddd;
      box-shadow: inset 0 0 6px 0 #ccc;
    }
  }
}