.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem 2rem;
  background-color: #fff;
  border: 1px #eee solid;
  border-radius: 10px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
              0 10px 10px -5px rgba(0, 0, 0, 0.04);
  h2 {
    margin: 2rem 0 1rem 0;
  }
  p, li {
    line-height: 2rem;
  }
  .responseMessage {
    margin: 1rem 0;
    font-weight: 600;
  }
  .errorMessage {
    color: rgb(163, 50, 50);
  }
}

.newsletterForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.25rem;
  width: 100%;
  .labelInputGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 767px) {
      flex-direction: row;
    }
    gap: 1rem;
    .label {
      width: 200px;
    }
    .required {

    }
    .input {
      flex-grow: 2;
      font-size: 1.25rem;
      padding: 0.5rem;
      border: 0;
      border-bottom: 1px #ccc solid;
    }
  }
  .phoneEmailGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    @media (min-width: 767px) {
      flex-direction: row;
    }
    .phoneEmailToggleWrapper {
      display: inline-flex;
      border: 1px #ccc solid;
      border-radius: 10px;
      overflow: hidden;
      justify-content: flex-start;
      width: 200px;
      .phoneEmailToggle {
        width: 100%;
        font-size: 1.25rem;
        padding: 0.5rem 1.5rem;
        border: 0;
        cursor: pointer;
      }
      .phoneEmailToggle:first-of-type {
        border-right: 1px #ccc solid;
      }
      .phoneEmailToggleActive {
        background: #dddddd;
        box-shadow: inset 0 0 6px 0 #ccc;
      }
    }
    .phoneEmailToggleWrapper::after {
      content: ' *';
      position: absolute;
      left: calc(200px + 2.5rem);
    }
    .input {
      flex-grow: 2;
      font-size: 1.25rem;
      padding: 0.5rem;
      border: 0;
      border-bottom: 1px #ccc solid;
    }
    .hidden {
      display: none;
    }
  }
  .submit {
    width: 100%;
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
    border: 1px #ccc solid;
    border-radius: 10px;
    cursor: pointer;
  }
}